.pager{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 43px;
    margin-left: 55px;
    }
    
    .pager__display{
        margin-right: 30px;
    }
    .pager__list{
        display: flex;
        align-items: center;
    }
    .pager__item{
        text-align: center;
        color: black;
    }
    
.pager__item-active .pager__link{
    background: #f60101;
    color: white;

}
.pager__link:hover{
 background: #f60101;
 color: white;   
}
.pager__link{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}